*{
    margin: 0;
    padding: 0;
    }
    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 33%;
        border: 3px solid white;
        border-radius: 50px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-list{
        width: 50;
        display: flex;
        align-items: center;
    }
    .nav-list li{
         list-style: none;
         padding: 26px 30px;
    }
    .nav-list li a{
          text-decoration: none;
          color: antiquewhite;
    }
    .nav-list li a:hover{
        color: violet;
    }
    .background{
        background: rgba(0, 0, 0, 0.7)url('stocks.jpg');
        background-size: cover;
        background-blend-mode: darken;
    }
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(bearb.jpg) no-repeat center center fixed; 
        background-size: cover; 
        
    }
    .rightNav{
        width: 50%;
        text-align: right;
    }
    #search{
        padding: 5px;
        font-size: 17px;
        border: 2px solid grey;
        border-radius: 9px;
    }
    .btn-sm{
        color: white;
        cursor: pointer;
        outline: none; 
        margin: 9px 0;
        padding: 6px 10px;
        border: 2px solid rgb(14, 13, 13);
        border-radius: 8px;
        font-size: 13px;
        background: none;
        font-weight: bold;
    }
    .list{     
        display: flex;
        align-items: left;
        margin: 10px;
        padding: 20px 25px;
        font-size: 25px;
        color:antiquewhite;
    }
    .list th{
        color: aqua;
        border-bottom: 5px solid purple;
        margin-bottom: 15px;
        padding: 13px 0;
    }
    .list td a{
        text-decoration: none;
        color: antiquewhite;
    }
    .list td a:hover{
        color: violet;
    }
    #tvchart{
        margin: 10px;
        display: flex;
        align-content: right;
        margin-top: -58px;
        
    }
    #container{
        display: flex;
        justify-content: space-between;
    }
    .container{ 
        color: rgb(46, 184, 46);
        align-items: center;
        justify-content: center;
        margin: 30px;
        padding: 0px 10px;
        display: flex;
    }
    .box{
        width: 20%; 
        margin: 15px 14px;
        border-bottom: 2px solid purple;
    }
    ::-webkit-input-placeholder { /* Chrome, Opera, and Safari */
        color: black;
    }
    .box input{  
        background: none;
        width: 75%;
        padding: 5px 10px;
        font-size: 20px;
        border: none;
        outline:none;
        color: rgb(247, 249, 252);
	text-align: center; 
    }
    .btn{
        color: white;
        cursor: pointer;
        outline: none; 
        margin: 10px 0;
        padding: 7px 10px;
        border: 2px solid purple;
        border-radius: 10px;
        font-size: 50px;
        background: none;
        font-weight: bold;
        justify-content: space-between;
        
    }
    .btn:hover{
        opacity: 0.5;
        color: purple; 
        background: white; 
        
    }
    .buttons{
        display: flex;
        justify-content: center;
    }