*{
    margin: 0;
    padding: 0;
    }
    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 33%;
        border: 3px solid white;
        border-radius: 50px;
    }
    .navbar{
        display: flex;
    }
    .nav-list{
        width: 50;
        display: flex;
        align-items: center;
    }
    .nav-list li{
         list-style: none;
         padding: 26px 30px;
    }
    .nav-list li a{
          text-decoration: none;
          color: antiquewhite;
    }
    .nav-list li a:hover{
        color: violet;
    }
    .background{
        background: rgba(0, 0, 0, 0.7)url('bse.jpg');
        background-size: cover;
        background-blend-mode: darken;
    }
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(nse.jpg) no-repeat center center fixed;
        background-size: cover; 
        
    }
    /*.rightNav{
        width: 50%;
        text-align: center;
    }
    #search{
        padding: 5px;
        font-size: 17px;
        border: 2px solid grey;
        border-radius: 9px;
    }
    .btn-sm{
        color: white;
        cursor: pointer;
        outline: none; 
        margin: 9px 0;
        padding: 6px 10px;
        border: 2px solid rgb(199, 128, 128);
        border-radius: 8px;
        font-size: 13px;
        background: none;
        font-weight: bold;
    }*/
    